:root {
  background-color: #f0f4f8 !important; 
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; 
  background-color: #f0f4f8 !important; 
  display: block;
}

* {
  box-sizing: border-box;
}